<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="include :: header('违规数据统计列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                车牌号：<input type="text" name="name"/>
                            </li>
                            <li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>


</body>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: ztree-js"/>
<script th:inline="javascript">
    $(function () {
        queryUserList();
    });


    let searchUrl = /*[[@{/event/statistics/search}]]*/ "";
    let detailUrl = /*[[@{/event/statistics/detail/{id}}]]*/ "";
    let approvalUrl = /*[[@{/event/statistics/approval/{id}}]]*/ "";
    let cancelUrl = /*[[@{/event/statistics/cancel/{id}}]]*/ "";

    let detailFlag = [[${@authority.hasAuthority('event:statistics:detail')}]];
    let approvalFlag = [[${@authority.hasAuthority('event:statistics:approval')}]];
    let cancelFlag = [[${@authority.hasAuthority('event:statistics:cancel')}]];

    function queryUserList() {
        var options = {
            url: searchUrl,
            detailUrl: detailUrl,
            approvalUrl: approvalUrl,
            cancelUrl: cancelUrl,
            // removeUrl: removeUrl,
            // exportUrl: prefix + "/export",
            // importUrl: prefix + "/importData",
            // importTemplateUrl: prefix + "/importTemplate",
            uniqueId: 'id',
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "违规数据统计",
            columns: [
                {
                    field: 'vehicleNumber',
                    title: '车牌号'
                },
                {
                    field: 'collegeName',
                    title: '所属学院',
                    formatter: function (value, row, index) {
                        if (row.collegeName === null) {
                            return '未知';
                        }
                        return value;
                    },
                },
                {
                    field: 'regionName',
                    title: '所属区域'
                },
                {
                    field: 'violationName',
                    title: '违规分类'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    field: 'updateTime',
                    title: '修改时间',
                    sortable: true
                },
                // {
                //     title: '操作',
                //     align: 'center',
                //     formatter: function (value, row, index) {
                //         var actions = [];
                //         actions.push('<a class="btn btn-success btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看详情</a> ');
                //         if (row.status === 0) {
                //             actions.push('<a class="btn btn-info btn-xs ' + approvalFlag + '" href="javascript:void(0)" onclick="$.operate.approval(\'' + row.id + '\')"><i class="fa fa-check"></i>审批</a> ');
                //             actions.push('<a class="btn btn-danger btn-xs ' + cancelFlag + '" href="javascript:void(0)" onclick="$.operate.cancel(\'' + row.id + '\')"><i class="fa fa-remove"></i>作废</a> ');
                //         }
                //         return actions.join('');
                //     }
                // }
            ]
        };
        $.table.init(options);
    }


</script>
</html>