<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="include :: header('审批列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
</head>
<body class="gray-bg">
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <input type="hidden" id="deptId" name="deptId">
                    <input type="hidden" id="parentId" name="parentId">
                    <div class="select-list">
                        <ul>
                            <li>
                                车牌号：<input type="text" name="vehicleNumber"/>
                            </li>
                            <li>
                                车主：<input type="text" name="driverName"/>
                            </li>
                            <li>
                                状态：<select name="status">
                                        <option value="">所有</option>
                                        <option value="0">未处理</option>
                                        <option value="1">已审批</option>
                                        <option value="2">已作废</option>
                                    </select>
                            </li>
                            <li class="select-time">
                                <label>违规时间： </label>
                                <input type="text" class="time-input" placeholder="开始时间" name="startTime" data-type="datetime" data-format="yyyy-MM-dd HH:mm:ss" readonly="readonly"/>
                                <span>-</span>
                                <input type="text" class="time-input" placeholder="结束时间" name="endTime" data-type="datetime" data-format="yyyy-MM-dd HH:mm:ss" readonly="readonly"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" sec:authorize="hasAuthority('event:approval:export')">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>


</body>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<script th:inline="javascript">
    $(function () {
        search();
    });


    let searchUrl = /*[[@{/event/approval/search}]]*/ "";
    let detailUrl = /*[[@{/event/approval/detail/{id}}]]*/ "";
    let approvalUrl = /*[[@{/event/approval/approvaldetail/{id}}]]*/ "";
    let cancelUrl = /*[[@{/event/approval/cancel/{id}}]]*/ "";
    let exportUrl = /*[[@{/event/approval/export}]]*/ "";

    let detailFlag = [[${@authority.hasAuthority('event:approval:detail')}]];
    let approvalFlag = [[${@authority.hasAuthority('event:approval:approval')}]];
    let cancelFlag = [[${@authority.hasAuthority('event:approval:cancel')}]];

    function search() {
        var options = {
            url: searchUrl,
            detailUrl: detailUrl,
            approvalUrl: approvalUrl,
            cancelUrl: cancelUrl,
            exportUrl: exportUrl,
            uniqueId: 'id',
            sortName: "status",
            sortOrder: "asc",
            modalName: "审批",
            columns: [
                {
                    field: 'vehicleNumber',
                    title: '车牌号'
                },
                {
                    field: 'driverName',
                    title: '车主'
                },
                {
                    field: 'bmmc',
                    title: '所属单位',
                    formatter: function (value, row, index) {
                        if (row.bmmc === null) {
                            return '未知';
                        }
                        return value;
                    },
                },
                {
                    field: 'time',
                    title: '违规时间',
                    sortable: true
                },
                {
                    field: 'place',
                    title: '违规地点'
                },
                {
                    field: 'violationName',
                    title: '违规分类',
                    formatter: function (value, row, index) {
                        return '超速';
                    },
                },
                {
                    field: 'num',
                    title: '违规次数'
                },
                {
                    field: 'driverPhone',
                    title: '车主电话'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value, row, index) {
                        if (row.status === 0) {
                            return '未处理';
                        }
                        if (row.status === 1) {
                            return '已审批';
                        }
                        if (row.status === 2) {
                            return '已作废';
                        }
                    },
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detailTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看详情</a> ');
                        if (row.status === 0 && row.num > 1) {
                            actions.push('<a class="btn btn-info btn-xs ' + approvalFlag + '" href="javascript:void(0)" onclick="$.operate.approvalTab(\'' + row.id + '\')"><i class="fa fa-check"></i>审批</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + cancelFlag + '" href="javascript:void(0)" onclick="$.operate.cancel(\'' + row.id + '\')"><i class="fa fa-remove"></i>作废</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

</script>
</html>